@import "./drawer.mixins.scss";
@import "./drawer.config.scss";
@import "file-icons-js/css/style.css";

.drawer-directory {
  @include drawer-flex-column;
  width: 100%;
  height: fit-content;

	.drawer-head {
	  @include drawer-flex-row;
		@include drawer-transition;
	  width: 100%;
	  user-select: none;
		font-weight: bold;
	}

	.drawer-body {
	  @include drawer-flex-column;
		overflow: hidden;
	  width: 100%;
	  height: fit-content;
	  padding-left: $indent-size;
	}
}

.drawer-head, .drawer-file {
	font-size: $font-size;
}

.drawer-file {
	height: $file-height;
}

.drawer-head {
	height: $directory-height;
}

.drawer-file {
	@include drawer-flex-row;
	width: 100%;
	user-select: none;

	&.drawer-highlight {
		background: rgba(120, 120, 120, 0.2);
	}
}

.drawer-text, .drawer-icon {
	line-height: 1;
	white-space: nowrap;
}

.drawer-text {
	background: none;
	border: none;
	outline: none;
	color: inherit;
	width: 100%;
	pointer-events: none;
	user-select: none;
}

.drawer-text-focus {
	pointer-events: all !important;
	user-select: all !important;
	border-radius: 3px;
	border: 1px solid rgba(120, 120, 120, 0.4);
}

.drawer-icon {
	margin-right: 0.25em;
	flex-shrink: 0;
	&::before {
		font-size: 1em;
	}
}

.drawer-icon-arrow {
	margin: 0;
}

.drawer-icon-folder {
	path {
		fill: $folder-icon-color;
	}
}

.drawer-directory:not(.drawer-animated) {
	.drawer-collapsed {
		& > * > .drawer-icon-arrow {
			transform: rotate(-90deg);
		}

		& > .drawer-body {
			.drawer-file, .drawer-directory {
				display: none !important;
			}
		}
	}
}

.drawer-animated {
	.drawer-icon-arrow {
		transition: transform 100ms;
	}

	.drawer-directory, .drawer-file {
		@include drawer-transition;
	}

	.drawer-collapsed {
		& > * > .drawer-icon-arrow {
			transform: rotate(-90deg);
		}

		& > .drawer-body {
			.drawer-file, .drawer-directory {
				height: 0px !important;
				opacity: 0 !important;
			}
		}
	}
}

.drawer-drop-target {
	border: 1px dashed $drop-target-border-color;
	border-radius: 3px;
}

.drawer-ghost {
	position: absolute !important;
	pointer-events: none !important;
	user-select: none !important;
	z-index: 9999999999999 !important;
	padding: 0 !important;
	width: fit-content !important;
	height: fit-content !important;
}
