@import "./drawer.mixins.scss";
@import "./drawer.config.scss";

.drawer-wrapper {
  @include drawer-flex-column;
  width: 100%;
  height: fit-content;
  box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.25);

	.drawer-head {
	  @include drawer-flex-row;
	  width: 100%;
	  user-select: none;
		font-weight: bold;
	}

	.drawer-body {
	  @include drawer-flex-column;
	  width: 100%;
	  height: fit-content;
	  padding-left: $indent-size;
	}
}

.drawer-text {
	line-height: 1;
}

.drawer-head, .drawer-file {
	height: fit-content;
	padding: $item-size 0;
	font-size: $font-size;
}

.drawer-file {
	@include drawer-flex-row;
	width: 100%;
	user-select: none;
}

.drawer-arrow {
	width: $indent-size;
	height: fit-content;
	text-align: center;
	font-weight: normal;

	&::before {
		content: "▾";
	}
}

.drawer-collapsed {
	.drawer-body {
		display: none;
	}

	.drawer-arrow::before {
		content: "▸";
	}
}
