@mixin drawer-flex {
  position: relative;
  display: flex;
  flex-shrink: 0;
}

@mixin drawer-flex-row {
  @include drawer-flex;
  flex-direction: row;
  align-items: center;
}

@mixin drawer-flex-column {
  @include drawer-flex;
  flex-direction: column;
}

$drawer-item-height: 25px;

.drawer-wrapper {
  @include drawer-flex-column;
  width: 100%;
  height: fit-content;
  background: rgba(255, 0, 0, 0.1);

  &.drawer-collapsed {
    .drawer-body {
      display: none;
    }

    .drawer-arrow::before {
      content: "▸";
    }
  }
}

.drawer-head {
  @include drawer-flex-row;
  width: 100%;
  height: $drawer-item-height;
  user-select: none;
}

.drawer-text {
	line-height: 1;
}

.drawer-body {
  @include drawer-flex-column;
  width: 100%;
  height: fit-content;
  padding-left: 10px;
}

.drawer-arrow {
  width: fit-content;
  height: fit-content;

  &::before {
    content: "▾";
  }
}

.drawer-file {
  @include drawer-flex-row;
  width: 100%;
  height: $drawer-item-height;
  user-select: none;
}
