@import "./config.scss";
@import "./mixins.scss";

.drawer {
   @include flex-column;
   flex: 1;
   overflow: hidden auto;

   .drawer-folder-body [class^="drawer-"] {
      user-select: none;
   }

   &.drawer-scrollable {
      overflow: auto;

      .drawer-folder {
         width: fit-content;
         min-width: 100%;
      }
   }

   &.drawer-animated {
      .drawer-folder-head,
      .drawer-file {
         transition-property: background-color, height, opacity;
         transition-duration: 200ms;
         transition-timing-function: ease;
      }

      .drawer-indent-guide {
         transition-property: background-color, opacity;
         transition-duration: 300ms;
      }

      .drawer-folder-icon-chevron {
         transition-property: transform;
         transition-duration: 200ms;
         transition-timing-function: ease;
      }
   }
}

.drawer-item {
   outline: none;
}

// Item hover
.drawer-folder.drawer-item-blurred > .drawer-folder-head:hover,
.drawer-file.drawer-item-blurred:hover {
   background-color: rgba(125, 125, 125, 0.1);
}

.drawer-item.drawer-item-transluscent {
   .drawer-folder-input,
   .drawer-folder-icon,
   .drawer-file,
   &.drawer-file {
      opacity: 0.5;
   }
}

.drawer-folder {
   @include flex-column;
   width: 100%;
   height: fit-content;

   &:first-of-type {
      flex: 1;
   }

   .drawer-item-input {
      font-size: $font-size;
      order: 3;
      background: none;
      border: none;
      outline: none;
      color: inherit;
      pointer-events: none;
      height: 100%;
      flex: 1;
      border-radius: 4px;
      @include truncate-text;

      &.drawer-item-input-focused {
         pointer-events: all;
         user-select: all;
         padding: 0 2.5px;
         background-color: rgba(15, 15, 15, 0.2);
         border: 1px solid rgba(125, 125, 125, 0.2);
      }
   }

   .drawer-folder-head,
   .drawer-file {
      @include flex-row;
      height: $item-height;
      gap: 0.25em;
      cursor: pointer;
      color: inherit;
      position: relative;
      z-index: 1;

      .drawer-item-icon {
         font-size: $icon-size;
         @include flex-row;
         align-items: center;
         justify-content: center;
         pointer-events: none;
         user-select: none;
      }
   }

   .drawer-folder-head {
      .drawer-folder-icon {
         order: 2;
      }

      .drawer-folder-icon-chevron {
         order: 1;
         transform: rotate(-90deg);
      }
   }

   &.drawer-folder-closed {
      .drawer-folder-body {
         overflow: hidden;

         .drawer-folder-head,
         .drawer-file {
            height: 0;
            opacity: 0;
         }
      }
   }

   .drawer-item-icon,
   .drawer-item-icon > span {
      @include flex-row;
      align-items: center;
      justify-content: center;
      width: 1.5em;
      height: 1.5em;
   }

   // Focused item's style
   &.drawer-item-focused > .drawer-folder-head,
   .drawer-item-focused.drawer-file {
      @include focused-item;
   }

   // Show indent guide if this folder is focused
   &.drawer-item-focused > .drawer-folder-body > .drawer-indent-guide {
      @include focused-indent-guide;
   }

   // Show indent guide in this folder if a file in this folder is focused
   .drawer-file.drawer-item-focused {
      & ~ .drawer-indent-guide {
         @include focused-indent-guide;
      }
   }

   // Show indent guide beside the folder if it's closed and focused
   &.drawer-folder-closed.drawer-item-focused {
      & ~ .drawer-indent-guide {
         @include focused-indent-guide;
      }
   }

   // Show indent guide beside the folder if it's focused and doesn't have children
   &.drawer-item-focused.drawer-folder-opened.drawer-folder-empty {
      & ~ .drawer-indent-guide {
         @include focused-indent-guide;
      }
   }

   .drawer-indent-guide {
      pointer-events: all;
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      background-color: rgba(125, 125, 125, 0.15);
      opacity: 0;
   }

   &:hover .drawer-indent-guide {
      opacity: 1;
   }

   .drawer-folder-body {
      @include flex-column;
   }

   &.drawer-folder-opened {
      & > .drawer-folder-head > .drawer-folder-icon-chevron {
         transform: rotate(0deg);
      }
   }
}

.drawer-drop-target {
   border: 1px dashed #dec261;
   background: #dec3611b;
   border-radius: 3px;
}

.drawer-drag-label {
   position: absolute;
   z-index: 9999;
   pointer-events: none;
   user-select: none;
   border-radius: 20px;
   padding: 5px 10px;
   background-color: rgba(125, 125, 125, 0.3);
   border: 1px solid rgba(125, 125, 125, 0.5);
}

.drawer-hidden {
   display: none !important;
}
