.treeview-directory-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.treeview-directory {
  z-index: 1;
}

.treeview-content-wrapper {
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

.treeview-directory-collapsed {
  display: none;
}

.treeview-directory-name {
  margin: 0 4px;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.treeview-collapse-button {
  padding: 0px !important;
  line-height: 1 !important;
  font-size: 1.2rem !important;
  border: none !important;
  background: none !important;
	cursor: default !important;
  z-index: 1;
}

.treeview-collapse-button::before {
  content: "▾";
}

.treeview-collapse-button.treeview-button-expand::before {
  content: "▸";
}

.treeview-file-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  user-select: none;
  text-align: left;
	position: relative;
}

.treeview-file-wrapper > span {
  pointer-events: none;
}

.treeview-highlighter {
  display: none;
  background: rgba(122, 122, 122, 0.2);
  position: absolute;
	top: 0;
  z-index: 0;
}

.treeview-file-wrapper:has(.treeview-highlighter) * {
	z-index: 1;
}
